<section>
  <h2>Create your own room</h2>
  <form action="/create-room" method="POST">
    <label class="src-only" for="room-id">Insert a password</label>
    <input
      type="password"
      name="password"
      id="room-pass"
      placeholder="Room code"
    />
    <button>
      <img src="images/users_white.svg" alt="Create room" />
      Create room
    </button>
  </form>
</section>
