<section>
  <h2>Enter as a participant</h2>
  <form action="/enter-room" method="POST">
    <label class="src-only" for="room-id">Room code</label>
    <input type="number" name="roomId" id="room-id" placeholder="Room code" />
    <button>
      <img src="images/enter-room.svg" alt="Enter the room" />
      Enter the room
    </button>
  </form>
</section>

<div class="separator">
  <div></div>
  <div>ou</div>
  <div></div>
</div>

<section>
  <h2>Create your own room easily</h2>
  <a href="/create-pass" class="button outlined">
    <img src="images/users.svg" alt="Create Room" />
    Create Room
  </a>
</section>
