<div class="no-question">
  <img src="/images/no-question.svg" alt="Sem Perguntas" />
  <p>Nenhuma pergunta por aqui...</p>
  <p>
    Faca sua primeira pergunta e envie o<br>codigo dessa sala para outras pessoas!
  </p>
</div>
