<div class="no-question">
  <img src="/images/no-question.svg" alt="Sem Perguntas" />
  <p>No questions out here...</p>
  <p>
    Make your first question and send the<br>room code to other users!
  </p>
</div>
